body {

}

div#mainDisplay {
    display:flex;
    justify-content:space-around;
}

div.element input {
    font-size:20px;
}

p {
    margin-bottom:0px;
}



div .jumbotrons h1 {
    background-color: rgba(0, 0, 0, 0.9);
    width:50%;
    font-weight:lighter;
}

div#displayOptions a {
    display:block;
}
